@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9800 0.0160 73.6840);
  --foreground: oklch(0.3247 0.0114 67.4066);
  --card: oklch(0.9953 0.0048 84.5637);
  --card-foreground: oklch(0.3247 0.0114 67.4066);
  --popover: oklch(0.9906 0.0097 84.5745);
  --popover-foreground: oklch(0.3247 0.0114 67.4066);
  --primary: oklch(0.7355 0.1423 79.1301);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8982 0.0222 84.5925);
  --secondary-foreground: oklch(0.3247 0.0114 67.4066);
  --muted: oklch(0.9278 0.0074 84.5708);
  --muted-foreground: oklch(0.5618 0.0224 67.3442);
  --accent: oklch(0.8574 0.0200 84.5918);
  --accent-foreground: oklch(0.3247 0.0114 67.4066);
  --destructive: oklch(0.6295 0.1785 23.7701);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9151 0.0118 84.5802);
  --input: oklch(0.9648 0.0049 84.5642);
  --ring: oklch(0.7599 0.1351 81.0564);
  --chart-1: oklch(0.7355 0.1423 79.1301);
  --chart-2: oklch(0.7082 0.1309 97.3823);
  --chart-3: oklch(0.7200 0.0909 65.5324);
  --chart-4: oklch(0.7641 0.0560 47.9677);
  --chart-5: oklch(0.7371 0.0906 108.4310);
  --sidebar: oklch(0.9860 0.0145 84.5830);
  --sidebar-foreground: oklch(0.3247 0.0114 67.4066);
  --sidebar-primary: oklch(0.6705 0.1253 80.0774);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8250 0.0313 84.5873);
  --sidebar-accent-foreground: oklch(0.3247 0.0114 67.4066);
  --sidebar-border: oklch(0.8935 0.0149 84.5857);
  --sidebar-ring: oklch(0.7411 0.1373 80.2793);
  --font-sans: Roboto, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --radius: 0.4rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: hsl(40, 70%, 50%);
  --shadow-2xs: 0px 0px 0px 0px hsl(40 70% 50% / 0.00);
  --shadow-xs: 0px 0px 0px 0px hsl(40 70% 50% / 0.00);
  --shadow-sm: 0px 0px 0px 0px hsl(40 70% 50% / 0.00), 0px 1px 2px -1px hsl(40 70% 50% / 0.00);
  --shadow: 0px 0px 0px 0px hsl(40 70% 50% / 0.00), 0px 1px 2px -1px hsl(40 70% 50% / 0.00);
  --shadow-md: 0px 0px 0px 0px hsl(40 70% 50% / 0.00), 0px 2px 4px -1px hsl(40 70% 50% / 0.00);
  --shadow-lg: 0px 0px 0px 0px hsl(40 70% 50% / 0.00), 0px 4px 6px -1px hsl(40 70% 50% / 0.00);
  --shadow-xl: 0px 0px 0px 0px hsl(40 70% 50% / 0.00), 0px 8px 10px -1px hsl(40 70% 50% / 0.00);
  --shadow-2xl: 0px 0px 0px 0px hsl(40 70% 50% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.33rem;
}

.dark {
  --background: oklch(0.2427 0.0082 84.5913);
  --foreground: oklch(0.9293 0.0098 84.5761);
  --card: oklch(0.2758 0.0099 84.5896);
  --card-foreground: oklch(0.9293 0.0098 84.5761);
  --popover: oklch(0.2427 0.0082 84.5913);
  --popover-foreground: oklch(0.9293 0.0098 84.5761);
  --primary: oklch(0.7691 0.1109 83.0728);
  --primary-foreground: oklch(0.2427 0.0082 84.5913);
  --secondary: oklch(0.3851 0.0225 84.5311);
  --secondary-foreground: oklch(0.9293 0.0098 84.5761);
  --muted: oklch(0.3290 0.0126 84.5868);
  --muted-foreground: oklch(0.7793 0.0229 84.5931);
  --accent: oklch(0.3374 0.0246 84.4483);
  --accent-foreground: oklch(0.9293 0.0098 84.5761);
  --destructive: oklch(0.5181 0.1747 25.7610);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3801 0.0152 84.5845);
  --input: oklch(0.2769 0.0111 91.7032);
  --ring: oklch(0.7973 0.0991 83.6936);
  --chart-1: oklch(0.7691 0.1109 83.0728);
  --chart-2: oklch(0.7625 0.1182 98.1368);
  --chart-3: oklch(0.7841 0.0547 66.8855);
  --chart-4: oklch(0.8435 0.0270 48.3826);
  --chart-5: oklch(0.7720 0.0488 107.4898);
  --sidebar: oklch(0.2199 0.0070 84.5924);
  --sidebar-foreground: oklch(0.9293 0.0098 84.5761);
  --sidebar-primary: oklch(0.7322 0.1135 82.5999);
  --sidebar-primary-foreground: oklch(0.2427 0.0082 84.5913);
  --sidebar-accent: oklch(0.3141 0.0204 84.4991);
  --sidebar-accent-foreground: oklch(0.9293 0.0098 84.5761);
  --sidebar-border: oklch(0.3496 0.0136 84.5858);
  --sidebar-ring: oklch(0.7774 0.1034 83.4548);
  --font-sans: Roboto, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Abhaya Libre, ui-serif, serif;
  --font-mono: Anonymous Pro, ui-monospace, monospace;
  --radius: 0.4rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: hsl(40, 60%, 60%);
  --shadow-2xs: 0px 0px 0px 0px hsl(40 60% 60% / 0.00);
  --shadow-xs: 0px 0px 0px 0px hsl(40 60% 60% / 0.00);
  --shadow-sm: 0px 0px 0px 0px hsl(40 60% 60% / 0.00), 0px 1px 2px -1px hsl(40 60% 60% / 0.00);
  --shadow: 0px 0px 0px 0px hsl(40 60% 60% / 0.00), 0px 1px 2px -1px hsl(40 60% 60% / 0.00);
  --shadow-md: 0px 0px 0px 0px hsl(40 60% 60% / 0.00), 0px 2px 4px -1px hsl(40 60% 60% / 0.00);
  --shadow-lg: 0px 0px 0px 0px hsl(40 60% 60% / 0.00), 0px 4px 6px -1px hsl(40 60% 60% / 0.00);
  --shadow-xl: 0px 0px 0px 0px hsl(40 60% 60% / 0.00), 0px 8px 10px -1px hsl(40 60% 60% / 0.00);
  --shadow-2xl: 0px 0px 0px 0px hsl(40 60% 60% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
